{% extends 'base.html' %}

{% block title %} Contact {% endblock %}


{% block content %}


  {% if messages %}
  {% for m in messages %}
  {% for c in client %}
    <div class="container py-5">  
        <h6 class="text-center text-capitalize">Thank You dear {{c.name}} for visiting my website :)</h6>  
        <div class="alert alert-success">  
            <strong class="text-center text-capitalize">{{m}}</strong>
    </div>  
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% comment %} <span class="text-center text-success">
        {% for m in messages %}
          <p>{{ m }}</p>
        {% endfor  %}
    </span> {% endcomment %}
<!-- name email message file  -->
<div class="container">
  <div class="row col-sm-12">
    <form action="{% url 'app1:contact' %}" method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <br />
      <br>
      <button type="submit" name="button" class="btn btn-success btn-block" >

          SEND
       </button>
       <br>
      <hr>
    </form>

  </div>
</div>

{% endblock %}
