{% extends 'base.html' %}
{% block title %}

    news page
{% endblock %}
{% block content %}
        {% for new in news %}
        <br>
        <hr>
        <br>
            <ul class="list-group">
                <li class="list-group-item">{{ new.title }}</li>
                <li class="list-group-item">{{ new.description|safe|truncatechars_html:100 }}</li>
                <li class="list-group-item"><a href="{{ new.get_absolute_url }}"> continue</a></li>
            </ul>
        <br>
        <hr>
        <br>
        {% endfor %}
{% endblock %}
